<h2 style="display: inline-block">Hello {{name}}!</h2>
<button ng-click="logout()"><strong>Logout</strong></button><p></p>
<table>
	<tbody>
		<tr><th>Newsletters</th>
		<th><button ng-click="newNewsletter(newsletter.id)"><strong>New</strong></button></th></tr>
		<tr ng-repeat="newsletter in newsletters | orderBy : 'name'">
			<td>{{newsletter.name}}</td>
			<td>
				<button ng-click="editNewsletter(newsletter.id)"><strong>edit</strong></button>
				<button ng-click="deleteNewsletter(newsletter.id)"><strong>del</strong></button>
				<button ng-click="send(newsletter.id)"><strong>send</strong></button>      
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr><th>Mailing Lists</th>
		<th><button ng-click="newMailinglist(mailinglist.id)"><strong>New</strong></button></th></tr>
		<tr ng-repeat="mailinglist in mailinglists | orderBy : 'name'">
			<td><input type="checkbox" ng-click="checkMailinglists($event,mailinglist.id)"></td>
			<td>{{mailinglist.name}}</td>
			<td>
				<button ng-click="editMailinglist(mailinglist.id)"><strong>edit</strong></button>
				<button ng-click="deleteMailinglist(mailinglist.id)"><strong>del</strong></button>   
			</td>
		</tr>
	</tbody>
</table>

<style>
table {
	vertical-align: top;
	display: inline-block;
}
body {
	
}
th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  /*display: inline-block;*/

}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>