<h2 style="display: inline-block">Hello {{name}}!</h2>
<button ng-click="logout()"><strong>Logout</strong></button><p></p>
<div>
<table>
	<tbody>
		<h3>Newsletters</h3>
		<button ng-click="newNewsletter(newsletter.id)"><strong>New</strong></button><p></p>
		<tr ng-repeat="newsletter in newsletters | orderBy : 'name'">
			<td>{{newsletter.name}}</td>
			<td>
				<button ng-click="editNewsletter(newsletter.id)"><strong>edit</strong></button>
				<button ng-click="deleteNewsletter(newsletter.id)"><strong>del</strong></button>
				<button ng-click="send(newsletter.id)"><strong>send</strong></button>      
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<h3>Mailing Lists</h3>
		<button ng-click="newMailinglist(mailinglist.id)"><strong>New</strong></button><p></p>
		<tr ng-repeat="mailinglist in mailinglists | orderBy : 'name'">
			<td><input type="checkbox" ng-click="checkMailinglists($event,mailinglist.id)"></td>
			<td>{{mailinglist.name}}</td>
			<td>
				<button ng-click="editMailinglist(mailinglist.id)"><strong>edit</strong></button>
				<button ng-click="deleteMailinglist(mailinglist.id)"><strong>del</strong></button>   
			</td>
		</tr>
	</tbody>
</table>
</div>
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>